<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="../login//login.component.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required=""><br>
					<button>Login</button>
                    <br>
                    <br>
                    <div class="Links"> <a routerLink="#" routerLinkActive="active">Forgot Password</a> <a routerLink="/register" routerLinkActive="active">Signup</a></div>
				</form>
			</div>
	</div>
</body>
</html>